<!doctype html>
<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{ url_for('static',filename='style/style.css') }}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="header row">
            <div class="container">
                <a href="/" class="logo-container row">
                    <img src={{ url_for('static',filename='img/logo-white.png') }} alt="">
                    <p class="logo-text col">
                        Великий Сокращатель
                    </p>
                </a>
            </div>
        </header>
        <main class="main row">
            <div class="container col">
                {% block content %}

                {% endblock %}
        </main>
        <footer class="footer row">
            <p>Сайт создан в учебных целях. Не бейте палками.</p>
        </footer>
    </div>
</body>
</html>